/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Main container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 0 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin: 1rem;
  font-size: 2rem;
  color: #4caf50;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 12px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
}
.btn-delete {
  background-color: #f44336;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8 ;
}

/* Expense list */
.expense-list {
  margin-top: 30px;
}

.expense-list ul {
  list-style: none;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 10px;
  background-color: #fafafa;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.expense-list .expense-item span {
  font-weight: bold;
}

.expense-list .expense-item button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.expense-list .expense-item button:hover {
  background-color: #d32f2f;
}
